<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Subir PDF</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
    <link rel="stylesheet" href="static/css/estilos.css">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2 class="text-center">Subir Documento PDF</h2>
            {% if message %}
            <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            swal({
                                title: "{{ 'Éxito' if success else 'Error' }}",
                                text: "{{ message }}",
                                icon: "{{ 'success' if success else 'error' }}",
                                button: "OK",
                            });
                        });


            </script>
            {% endif %}
            <form action="/" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">Selecciona un archivo PDF</label>
                    <input type="file" class="form-control-file" id="file" name="file[]" accept="application/pdf"
                           multiple
                           required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Subir</button>
            </form>
            <br>
            <table class="table">
                <thead>
                <tr>
                    <th class="encabezados">Rut suministrador</th>
                    <th class="encabezados">Razon social suministrador</th>
                    <th class="encabezados">Rut cliente</th>
                    <th class="encabezados">Razon social cliente</th>
                    <th class="encabezados">Nombre instalación</th>
                    <th class="encabezados">Fecha inicio</th>
                    <th class="encabezados">Fecha termino</th>
                    <th class="encabezados">Energia contratada</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for item in var %}
                    <td>{{ item }}</td>
                    {% if loop.index % 8 == 0 %} <!-- cambiar si se aumentan los encabezados -->
                </tr>
                <tr>
                    {% endif %}
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
</body>
</html>